@{
    ViewBag.Title = "Sepet";
}
@section script{
    <script>
        function miktarChange(urunID, sepetMiktar, input) {
            var yeniMiktar = input.value;
            var ekleCikar = 1;
            var miktar = 0;
            if (sepetMiktar > yeniMiktar) {
                ekleCikar = 0;
                miktar = sepetMiktar - yeniMiktar;
            }
            else {
                ekleCikar = 1;
                miktar = yeniMiktar - sepetMiktar;
            }

            onSepetEkle(urunID, miktar, ekleCikar);
        }
    </script>
}
<br />
<div class="tt-breadcrumb">
    <div class="container">
        <ul>
            <li><a href="@Url.Action("Index")">Ana Sayfa</a></li>
            <li>Sepet</li>
        </ul>
    </div>
</div>
<div id="tt-pageContent">
    @Html.Partial("_Cart")
</div>
<div id="CPAGE"></div>