
@{
    ViewBag.Title = "Haydaa...";
}
<br />
<div class="tt-breadcrumb">
    <div class="container">
        <ul>
            <li><a href="@Url.Action("Index")">Ana Sayfa</a></li>
            <li>404 SAYFA BULUNAMADI</li>
        </ul>
    </div>
</div>
<div id="tt-pageContent">
    <div class="tt-offset-0 container-indent">
        <div class="tt-page404">
            <h1 class="tt-title">TÜH :(</h1>
            <p>Ne yazıkki girmeye çalıştığın sayfa hatalı yada bozulmuş.</p>
            <a href="@Url.Action("Index")" class="btn">ANA SAYFA</a>
        </div>
    </div>
</div>

