@using sCommerce.Helper
@using sCommerce.com.n11Category.api
@{
    long id = ViewBag.id;
    int sira = ViewBag.sira;
    SubCategory[] subCategories = new N11().GetSubCategories(id);
}
@if (subCategories != null)
{
    <div class="col-12">
        <div class="form-group">
            <select name="kategoriID" class="form-control" onchange="getSubCategory(this, @(sira + 1))">
                <option value="">SEÇİNİZ</option>
                @foreach (SubCategory subCategory in subCategories)
                {
                    <option value="@subCategory.id">@subCategory.name</option>
                }
            </select>
        </div>
    </div>
}
