<?xml version="1.0" encoding="utf-8"?>
<!--
  ASP.NET uygulamanızı nasıl yapılandıracağınız hakkında daha fazla bilgi için lütfen
  https://go.microsoft.com/fwlink/?LinkId=301880 adresini ziyaret edin.
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--SİTE BİLGİLERİ-->
    <add key="recaptcha_key" value="6LfiWBIaAAAAAIfr6gyg68CLWDa8PBq4raGhk7D9" />
    <add key="recaptcha_secret" value="6LfiWBIaAAAAAG5yM-XyV_zc1JfOLjKUV111IW4F" />
    
    <add key="iyzico_apikey" value="U0RxKAhX9kUjpDJLubk6G191AmpddMj8" />
    <add key="iyzico_secretkey" value="Moq2RPIcFEalXy0IaJWzoVV3WrINAmbK" />
    <add key="iyzico_baseurl" value="https://api.iyzipay.com" />

    <add key="n11_apikey" value="d5279cc0-9a94-44cf-b02d-c73806c2af29" />
    <add key="n11_secretkey" value="mt7naCH2BaJL8IQ3" />
    
    <add key="mail_adresi" value="siparis@aysemtuhafiye.com" />

    <add key="kargo_ucreti" value="15" />
    <add key="ucretsiz_kargo" value="300" />
    
    <add key="kredi_karti" value="15" />
    <add key="havale" value="15" />
    <add key="kapida_odeme" value="-1" />
    <add key="magazadan_teslim" value="0" />
    
    <add key="yapim_asamasinda_modu" value="false" />
    <!--SİTE BİLGİLERİ-->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" maxRequestLength="1102400" />
    <sessionState mode="InProc" cookieless="false" timeout="5000"></sessionState>
    <customErrors mode="Off">
      <error statusCode="404" redirect="/Home/Page404" />
    </customErrors>
    <trust level="Full" />
  </system.web>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="siparis@aysemtuhafiye.com">
        <network host="srvm09.trwww.com" port="587" enableSsl="false" userName="siparis@aysemtuhafiye.com" password="58040613Bb" />
      </smtp>
    </mailSettings>
  </system.net>
  <connectionStrings>
    <add name="debug" connectionString="Server=37.230.108.246; Database=stc_aysth; User Id=sotec_media; Password=58040613Bb!;" />
    <!--server=.; Initial Catalog=sCommerce;Integrated Security=SSPI;-->
    <add name="relase" connectionString="Server=37.230.108.246; Database=stc_aysth; User Id=sotec_media; Password=58040613Bb!;" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
  </system.codedom>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="HTTP to HTTPS redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="https://{HTTP_HOST}/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
</configuration>
