<!doctype html>
<html lang="en">

<head>
    <title>:: HexaBit :: Login</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
    <meta name="description" content="sCommerce Admin Login">
    <meta name="author" content="SotecMedia, Berk Emre ALTAN, https://linkedin.com/in/berkemrealtan">

    <link rel="icon" href="~/Content/smicon.ico" type="image/x-icon">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="~/Content/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/vendor/font-awesome/css/font-awesome.min.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/Content/assets/css/main.css">
    <link rel="stylesheet" href="~/Content/assets/css/color_skins.css">
</head>

<body class="theme-green auth-main">

    <!-- WRAPPER -->
    <div id="wrapper">
        <div class="container">
            <div class="row clearfix">
                <div class="col-12">
                    <nav class="navbar navbar-expand-lg">
                        <a class="navbar-brand" href="http://linkedin.com/in/berkemrealtan"><img src="~/Content/sm_light.png" height="30" class="d-inline-block align-top mr-2" alt=""></a>
                        <ul class="navbar-nav">
                            <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Home")">Geri Dön</a></li>
                            <li class="nav-item"><a class="nav-link" href="http://linkedin.com/in/berkemrealtan">Destek</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-8">
                    <div class="auth_detail">
                        <h2 class="text-monospace">
                            sCommerce<br> hepsi bir yerde
                            <div id="carouselExampleControls" class="carousel vert slide" data-ride="carousel" data-interval="1500">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">Trendyol</div>
                                    <div class="carousel-item">N11</div>
                                    <div class="carousel-item">GittiGidiyor</div>
                                    <div class="carousel-item">HepsiBurada</div>
                                </div>
                            </div>
                        </h2>
                        <p>sCommerce ile tüm pazaryerlerini bir yerden yönet karamaşadan kurtul sadece satışlara odaklan.</p>
                        <ul class="social-links list-unstyled">
                            <li><a class="btn btn-default" target="_blank" href="https://facebook.com/berkemre.altan"><i class="fa fa-facebook"></i></a></li>
                            <li><a class="btn btn-default" target="_blank" href="https://github.com/berkemre"><i class="fa fa-github"></i></a></li>
                            <li><a class="btn btn-default" target="_blank" href="https://linkedin.com/in/berkemrealtan"><i class="fa fa-linkedin"></i></a></li>
                            <li><a class="btn btn-default" target="_blank" href="https://instagram.com/berkemrealtan"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="header">
                            <p class="lead">Admin Girişi</p>
                        </div>
                        <div class="body">
                            <label class="text-danger">@Request.Params["hata"]</label>
                            <form class="form-auth-small" method="post" action="kullaniciGiris">
                                <div class="form-group">
                                    <label for="signin-email" class="control-label sr-only">Email</label>
                                    <input type="email" class="form-control" name="eMail" value="" placeholder="Email" required>
                                </div>
                                <div class="form-group">
                                    <label for="signin-password" class="control-label sr-only">Şifre</label>
                                    <input type="password" class="form-control" name="sifre" value="" placeholder="Şifre" required>
                                </div>
                                <button type="submit" class="btn btn-primary btn-lg btn-block">Giriş Yap</button>
                                <div class="bottom">
                                    <!--<span class="helper-text m-b-10"><i class="fa fa-plug"></i> <a href="page-forgot-password.html">Şifremi unuttum?</a></span>-->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END WRAPPER -->

    <script src="~/Content/assets/bundles/libscripts.bundle.js"></script>
    <script src="~/Content/assets/bundles/vendorscripts.bundle.js"></script>

    <script src="~/Content/assets/bundles/mainscripts.bundle.js"></script>
</body>
</html>


